<!doctype html>
<html>
  <head>
    <title><%=websiteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css"/>

  </head>
  <body>
    <header class="jumbotron-header">
      <h1>About <%=websiteName%></h1>
    </header>

    <nav class="mainmenu-background">
      <!-- Navigation links to each of the pages in nav bar -->
      <ul class="mainmenu-list">
          <li class="mainmenu-items"><a class="mainmenu-link" href="/">Home Page</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="about">About <%=websiteName%></a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="topics">See all topics</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="users">See all users</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="posts">See all posts</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="addposts">Add to posts</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="search">Search all posts</a></li>
      </ul>
    </nav>
    
    <section class="aboutpage-section">
      <p class="aboutpage-p">[Enter rules and good engagement policy here]</p>
    </section>
    
  </body>
</html>