<!doctype html>
<html>
    <head>
        <title><%=websiteName%></title>

    </head>

    <body>
        <h1>Add post to <%=websiteName%></h1>

        <!-- Sets up form with two inputs and a submit button -->
        <form method="POST" action="/added-post">
            <p>Title:</p><input id="title" type="text" name="title" value="title" />
            <p>Content:</p><input id="content" type="text" name="content" value="content" />
            <input type="submit" value="Add Post" />
        </form>

    </body>


</html>