<!doctype html>
<html>
  <head>
    <title>LALALA</title>
    <link rel="stylesheet"  type="text/css" href="/main.css"/>

  </head>
  <body>
    <header class="jumbotron-header">
      <h1>Please log in to LALALALA here</h1>
    </header>

    <nav class="mainmenu-background">
      <!-- Navigation links to each of the pages in nav bar -->
      <ul class="mainmenu-list">
          <li class="mainmenu-items"><a class="mainmenu-link" href="/">Home Page</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="about">About LLALALALLA</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="topics">See all topics</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="users">See all users</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="posts">See all posts</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="addposts">Add to posts</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="search">Search all posts</a></li>
      </ul>
    </nav>

    <section class="logout-section">
      <p class="login-p">Are you sure you  want to log out?</p>
      <form action="/" method="POST">
        <div class="logout-div">
          <button class="logout-button" type="submit">Login</button>
        </div>
      </form>
    </section>