<!doctype html>
<html>
  <head>
    <title><%=websiteName%></title>

  </head>
  <body>
    <h1><%=websiteName%>: Posts</h1>
    <p>Here are the posts:</p>
    
    <ul> 
        <!-- Input topic data from database here -->
        <% for(let i = 0; i < allPosts.length; i++) {%>
          <li>
              <p>Title:<%= allPosts[i].title%></p>
              <p>Content:<%= allPosts[i].content%></p>
          </li>
        <% } %>
    </ul>
  </body>
</html>