<!doctype html>
<html>
  <head>
    <title><%=websiteName%></title>

  </head>
  <body>
    <h1><%=websiteName%>: Topics List</h1>
    <p>Here are the topics available for discussion:</p>
    
    <ul> 
        <!-- Input topic data from database here -->
        <% for(let i = 0; i < availableTopics.length; i++) {%>
          <li><%= availableTopics[i].name%></li>
        <% } %>
    </ul>
  </body>
</html>