<!doctype html>
<html>
  <head>
    <title><%=websiteName%></title>

  </head>
  <body>
    <h1><%=websiteName%>: Users List</h1>
    <p>List of users:</p>
    
    <ul> 
        <!-- Input topic data from database here -->
        <% for(let i = 0; i < allUsers.length; i++) {%>
          <li><%= allUsers[i].name%></li>
        <% } %>
    </ul>
  </body>
</html>