body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 20px;
}

/* Every page banner and nav bar */
.jumbotron-header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.mainmenu-background {
    background-color: #444;
    color: white;
    height: auto;
    margin: 0;
    top: 0;
}

.mainmenu-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.mainmenu-items {
    float: left;
}

.mainmenu-link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
    padding-bottom: 0px;
    color: white;
    
}


/* ********************************************************** */

/* Homepage formatting */
.homepage-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 20px;
    max-height: vw;
    background-color: #444;
    column-gap: 0;
}

.homepage-headings {
    font-size:x-large;
    font-weight: bold;
}

.homepage-subheadings {
    font-size: large;
    font-weight: normal;
}

.homepage-p {
    font-size: normal;
    line-height: 1.5;
}

.homepage-sections {
    padding: 20px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #444;
    background-color: white;

}
.topics-section {
    grid: 1; /* Place in first column */
}

.topics-list {
    list-style-type: disc;
    padding-inline-start: 20px;
    line-height: 2.5;
}

.posts-section {
    grid: 2; /* Place in middle section */
}

.post-list {
    list-style-type: none;
    padding: 0px;
}

.post-items {
    height: min-content;
}

.post-title {
    border: 1px solid #ccc;
    max-height: 1em;
    margin-bottom: 5px;
    margin-right: 100px;
    padding: 5px;
}

.post-contents {
    border: 1px solid #ccc;
    min-height: 2em;
    max-height: 6em;
    margin-bottom: 20px;
    margin-right: 100px;
    padding: 5px;
}

.users-section {
    grid: 3; /* Place in third column */
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ccc;

}

.about-section {
    flex: 1; /* Take remaining vertical space in third column */
    border-top: 2px solid #ccc;
    border-left: none;
    border-bottom: none;
    margin-top: 50px;
    padding: 20px 0px 0px 0px;

}


/* ********************************************************** */

/* ABOUT PAGE formatting */
.aboutpage-section {
    padding: 20px;
}

.aboutpage-p {
    font-size: normal;
    line-height: 1.5;
}



/* ********************************************************** */

/* TOPICS PAGE formatting */
.topicspage-section {
    padding: 20px;
}

.topicspage-p {
    font-size: normal;
    line-height: 1.5;
}

.topicspage-list {
    list-style-type: disc;
    padding-inline-start: 20px;
    line-height: 2.5;
}




/* ********************************************************** */

/* USER PAGE formatting */
.userspage-section {
    padding: 20px;
}

.userspage-p {
    font-size: normal;
    line-height: 1.5;
}

.userspage-list {
    list-style-type: disc;
    padding-inline-start: 20px;
    line-height: 2.5;
}



/* ********************************************************** */

/* POSTS PAGE formatting */
.postspage-main {
    padding: 20px;
}
.postspage-subheading {
    color: #333;
}

.postspage-list {
    list-style: none;
    padding: 0;
}

.postspage-items {
    border: 2px solid #444;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Style the boxes for each post */
.postspage-topic-box {
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #444;
    color: white;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.postspage-topic-p {
    margin: 2px;
}

.postspage-title-box {
    font-size: medium;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.postspage-content-box {
    border: 1px solid #ccc;
    padding: 10px 20px 0px 20px;
    height: max-content;
    min-height: 150px;
    margin-bottom: 0px;
}

.postspage-user-date-box {
    font-size: smaller;
    padding: 0px 20px;
    margin-top: 0px; /* Align at the bottom of the post-item */
}

/* ********************************************************** */

/* ADD POSTS PAGE formatting */
.addposts-section {
    padding: 20px;
}

.addposts-label {
    display: block;
    margin-bottom: 5px;
}

.addposts-input-user {
    border: 1px solid #ccc;
    color: #ccc;
    padding: 10px;
    height: 1em;
    max-width: fit-content;
    min-width: 228px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.addposts-input-dropdown {
    border: 1px solid #ccc;
    color: #ccc;
    padding: 0px 10px;
    height: 2.5em;
    width: 250px;
    margin-bottom: 0px;
    border-radius: 5px;
}
   
.addposts-input-title {
    border: 1px solid #ccc;
    color: #ccc;
    padding: 10px;
    min-height: 1em;
    height: max-content;
    width: 50%;
    margin-bottom: 0px;
    border-radius: 5px;

}

.addposts-input-content {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    color: #ccc;
    padding: 10px;
    min-height: 100px;
    height: max-content;
    width: 50%;
    margin-bottom: 0px;
    border-radius: 5px;
    vertical-align: top;

}

.addposts-input-button {
    border: 1px solid #444;
    background-color: #444;
    color: white;
    padding: 10px;
    height: auto;
    width: 150px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-weight: bold;
}
.addposts-div {
    padding: 10px 0px;
    margin-bottom: 10px;

 }

 /* ********************************************** */
 /* SEARCH PAGE */
 .searchpage-section {
    padding: 20px;
 }

 .searchpage-p {
    font-size: normal;
    line-height: 1.5;
}

 .searchpage-div {
    padding: 10px 0px;
    margin-bottom: 10px;
 }

 .searchpage-input {
    border: 1px solid #ccc;
    color: #ccc;
    padding: 10px;
    min-height: 1em;
    height: auto;
    width: 25%;
    margin-bottom: 0px;
    border-radius: 5px;
 }

 .searchpage-button {
    border: 1px solid #444;
    background-color: #444;
    color: white;
    padding: 10px;
    height: auto;
    width: 150px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-weight: bold;
 }

 /* ********************************************** */
 /* SEARCH RESULTS */
.searchresult-section {
    padding: 20px;
}

 .searchresult-list {
    list-style-type: none;
    padding: 0px;
}

.searchresult-items {
    border: 2px solid #444;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.searchresult-topic-box {
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #444;
    color: white;
    padding: 0px 20px;
    margin-bottom: 10px;
    height: auto;
}

.searchresult-topic-p {
    margin: 2px;
}

.searchresult-title-box {
    font-size: medium;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.searchresult-content-box {
    border: 1px solid #ccc;
    padding: 10px 20px 0px 20px;
    height: max-content;
    min-height: 150px;
    margin-bottom: 0px;
}

.searchresult-user-date-box {
    font-size: smaller;
    padding: 0px 20px;
    margin-top: 0px; /* Align at the bottom of the post-item */
}